/* الخط */
body {
    font-family: "Cairo", sans-serif;
}

/* ============= Top Bar ============= */
.vg-topbar {
    width: 100%;
    background: #f8f8f8;
    padding: 8px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

/* يمين */
.vg-top-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* الدولة */
.vg-country-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.vg-country-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background: white;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
}

.vg-country-menu.show {
    display: block;
}

/* اللغة */
.vg-lang a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

/* يسار: الأيقونات */
.vg-top-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.vg-icon-btn img {
    width: 22px;
    cursor: pointer;
    opacity: .8;
}

/* ============= المستوى الثاني (الشعار + البحث) ============= */
.vg-middle {
    width: 100%;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vg-logo {
    width: 40%;
    text-align: center;
}

.vg-brand {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

/* البحث */
.vg-search-box {
    width: 35%;
    height: 45px;
    border-radius: 30px;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.vg-search-box input {
    border: none;
    background: none;
    width: 100%;
}

.vg-search-btn img {
    width: 20px;
}

/* ============= المستوى الثالث (القائمة) ============= */
.vg-nav ul {
    padding: 12px 25px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
}

.vg-nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.vg-nav a:hover {
    color: #C9A77A;
}
