/* الخط */
body {
    font-family: "Cairo", sans-serif !important;
    direction: rtl;
}

/* المستوى الأول */
.vg-topbar {
    width: 100%;
    padding: 8px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
    border-bottom: 1px solid #eee;
}

.vg-top-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.vg-country-box {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

.vg-country-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    top: 28px;
    right: 0;
    z-index: 999;
    padding: 10px;
    border-radius: 6px;
}

.vg-country-menu.show {
    display: block;
}

.vg-country-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    width: 120px;
    cursor: pointer;
    background: none;
    border: none;
}

.vg-lang a {
    color: #000;
    font-size: 14px;
}

/* الأيقونات يسار */
.vg-top-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.vg-icon-btn img {
    width: 22px;
    opacity: 0.8;
}

/* المستوى الثاني + الثالث مدموج */
.vg-middle-nav-container {
    width: 100%;
    padding: 12px 25px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

/* الشعار بالنص */
.vg-logo {
    text-align: center;
}

.vg-brand {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

/* البحث */
.vg-search-box {
    background: #f2f2f2;
    height: 45px;
    padding: 0 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.vg-search-box input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

/* القائمة يمين */
.vg-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.vg-nav a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
}

/* */
