body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.splash {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* يجعل الصورة مثل فوغا */
}
