{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}VogaStyle{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>

    <!-- الهيدر -->
    {% include "base-templates/header.html" %}

    <!-- المحتوى -->
    <main class="vg-main">
        {% block content %}{% endblock %}
    </main>

    <!-- الفوتر -->
    {% include "base-templates/footer.html" %}

    <!-- JS -->
    <script src="{% static 'js/header.js' %}"></script>
    {% block extra_js %}{% endblock %}

</body>
</html>
