{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VogaStyle{% endblock %}</title>

    <!-- ربط ملفات CSS الأساسية -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>

    <!-- إدراج الهيدر -->
    {% include "layouts/header.html" %}

    <!-- المساحة التي تتغير في كل صفحة -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- سكربتات -->
    <script src="{% static 'js/header.js' %}"></script>
    {% block extra_js %}{% endblock %}

</body>
</html>
