/* ============================
   RESET
============================ */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* يمنع التمرير أثناء السلاش فقط */
}

/* ============================
   Splash Container
============================ */
.splash {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* حركة الاختفاء */
    animation: fadeOut 1s ease forwards;
    animation-delay: 2s; /* يبقى 2 ثانية ثم يبدأ التخفي */
}

/* ============================
   Splash Image
============================ */
.splash-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ============================
   Animation
============================ */
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
